.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-box
      .chat-main__group-info__group-box__left-box
        .chat-main__group-info__group-box__left-box--group-name test
        .chat-main__group-info__group-box__left-box--member-list Member : tester
      =link_to "#", class: "chat-main__group-info__group-box__edit-btn" do
        Edit
  =render @messages
      
  = form_for [@group,@message] do |f|
    .chat-main__message-form
      .chat-main__message-form__form-box
        .chat-main__message-form__form-box__text-form
          = f.text_field :content, class: 'chat-main__message-form__form-box__text-form--type-message',placeholder: 'type a message'
          = f.label :image, class: 'chat-main__message-form__form-box__text-form--image-btn' do
            = icon('fa', 'image')
            = f.file_field :image
        = f.submit 'Send', class: 'chat-main__message-form__form-box__send-btn'